<!DOCTYPE html>

<html>

<head>
    <title>Eschool pacing</title>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <link type="text/css" rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <table>
            <tr>
                <th>Class name</th>
                <th>Assignments done</th>
                <th>Total asignments</th>
                <th>Done</th>
                <th>Todo</th>
                <th>End date</th>
            </tr>
            <tr v-for="(Class, index) in classes">
                <th><input v-model="Class.name"></th>
                <th><input type="number" v-model.number="Class.done" v-bind:max="Class.total" min=0></th>
                <th><input type="number" v-model.number="Class.total" min=1></th>
                <th>{{ percentage(Class) }}%</th>
                <th>{{ Class.todo }}</th>
                <th><input type="date" v-model="Class.endDate"></th>
                <th v-on:click="remove(index)">Delete</th>
            </tr>
            <tr>
                <th>Total</th>
                <th>{{ totalDone }}</th>
                <th>{{ totalAssignments }}</th>
                <th>{{ totalPercent }}%</th>
                <th>{{ totalTodo }}</th>
            </tr>
        </table>
        <button v-on:click="addNew">New class</button>
        <table>
            <tr>
                <th>Vacation date</th>
                <th>Delete button</th>
            </tr>
            <tr v-for="(vacationDate, index) in vacations">
                <th><input type="date" v-model="vacations[index]"></th>
                <th v-on:click="removeVacation(index)">Delete</th>
            </tr>
        </table>
        <button v-on:click="newVacation">New vacation</button>
    </div>
    <script src="sketch.js"></script>
</body>

</html>